@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width : 992px) {
.main {
  margin-right: 15px !important;
}
.side {
  transform: translate3d(300px, 0, 0);
  width: 300px !important;
}
.show{
  transform: translate3d( 0, 0, 0);
}
.wr{
  margin-bottom: 1rem;
}
.ws{
  width: 80% !important;
}
.img-pro{
  width: 268px !important;
}
.text-upgrade{
  top: 15px !important;
}
.crown{
width: 75px !important;
}
}
button.span-bn {
  position: fixed;
  border: 1px solid transparent;
  background-color: #322A7D;
  color: #f8f9fa;
  top: 15%;
  display: block;
  right: 0;

}
@media screen and (min-width : 1024px){
  
.btn-hide{
  display: none !important;
}
.button.span-bn {
  display: none !important;
}
}
@media screen and (max-width:425px){
    .dash-nav{
      overflow-x: scroll;
      
  }
.line{
    width: 25% !important;
    height: 4px !important;
  }
}
.minus {
  position: absolute;
  top: 29%;
  left: 37%;
  /* right: 0%; */
}
.plus{
  position: absolute;
  top: 29%;
  left: 26%;
}
@media screen and (max-width:1370px) and (min-width:1200px){
  .minus{
    left: 53% ;
  }
  .plus{
    left: 35%;
  }
}
span.feed {
  position: absolute;
  right: 15%;
  top: 51px;
  color: fff;
  text-align: center;
  border-radius: 15px;
  width: 65px;
  display: block;
  height: 28px;
  color: #ffffff;
  margin-bottom: 2rem;
  background: green;
}
.dk{
  display: none;
}